
.container-fluid{
    margin-top: 55px;
    height: calc(100vh - 55px) !important;

    .container{
        padding: 1rem;
        max-width: 600px;
        min-height: 400px;

        .subtotal{
            padding-right: 0;
        }
    }
}