@import '../../assets/global_style.scss';


.login-card-container{
    background-color: $light-gray;
}

.logoContainer{  
    display:flex;
    justify-content: center;    
    align-items: center;
    width: 75vw;

    .logoSize{
        max-width: 160px;
        height: 60%;      
    }
}
.buttons-login-container
{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    
    .btn{
        margin-top: 15px;  
        width: 100%;      
    }    
}

@media(min-width:968px){  //967

    .logoContainer{ 
        width: 45vw;
    }

    .buttons-login-container{
        display: flex;
        flex-direction: row;    
        justify-content: space-between;
        text-align: center;    
        
        .btn{     
            width: unset;       
            margin-top: 15px;                        
            flex-grow: 1;

        } 

        .enter {
            margin-right: .5rem;
        }
               
    }       
}