@import '../../assets/global_style.scss';

.row{
    --bs-gutter-x: 0;

    .search-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .b-container-search{
            align-self: center;
            display: flex;
            flex-direction: column;
            width: 100%;
           
            
            .search-container{
                .container-input{
                    display: flex;
                    align-items: center;
                    background-color: $primary;
                    border-radius: 10px;
                    
                }
            }
        }
    
    }

}


