@import "../../assets/global_style.scss";

.main-title{
    display: flex;
    align-self: flex-start;
}

.b-container{
    display: flex;
}

.card{
    flex:1;
}

span{
    font-weight: 600;
}

.pop-button{
    color: $primary;
    font-size: 1.4rem;
}