@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.color-p-primary {
  color: #33658a;
}

.bg-p-primary {
  background-color: #33658a;
}

.btn-p-primary {
  background-color: #33658a;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 7px;
}

.btn-p-primary:hover {
  background-color: #33658a;
  opacity: 65%;
}

.color-p-secondary {
  color: #f6ae2d;
}

.bg-p-secondary {
  background-color: #f6ae2d;
}

.btn-p-secondary {
  background-color: #f6ae2d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 7px;
}

.btn-p-secondary:hover {
  background-color: #f6ae2d;
  opacity: 65%;
}

.color-p-light-gray {
  color: #f2f3f5;
}

.bg-p-light-gray {
  background-color: #f2f3f5;
}

.btn-p-light-gray {
  background-color: #f2f3f5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 7px;
}

.btn-p-light-gray:hover {
  background-color: #f2f3f5;
  opacity: 65%;
}

.color-p-dark-blue {
  color: #2F4858;
}

.bg-p-dark-blue {
  background-color: #2F4858;
}

.btn-p-dark-blue {
  background-color: #2F4858;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 7px;
}

.btn-p-dark-blue:hover {
  background-color: #2F4858;
  opacity: 65%;
}

.color-p-light-blue {
  color: #86BBD8;
}

.bg-p-light-blue {
  background-color: #86BBD8;
}

.btn-p-light-blue {
  background-color: #86BBD8;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 7px;
}

.btn-p-light-blue:hover {
  background-color: #86BBD8;
  opacity: 65%;
}

.color-p-orange {
  color: #F26419;
}

.bg-p-orange {
  background-color: #F26419;
}

.btn-p-orange {
  background-color: #F26419;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 7px;
}

.btn-p-orange:hover {
  background-color: #F26419;
  opacity: 65%;
}

.main-padding {
  padding: 16px 16px;
}

.p-borders {
  border-radius: 5px;
  border: solid 1px black;
  -webkit-box-shadow: black;
          box-shadow: black;
}

.p-titles {
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  margin-left: 10px;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-container p {
  margin-bottom: 4px;
}

.product-container .product-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
}

.product-container .product-image img {
  max-height: 180px;
}

.product-container .product-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 7px;
}

.product-container .product-body .button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.product-container .product-body .button-div ul {
  margin-bottom: 3px;
  font-size: 0.7rem;
  padding: 10px 5px 5px 10px;
  margin-left: 10px;
}

.product-container .product-body .button-div button {
  padding: 8px 8px 8px 8px;
  font-size: 0.9rem;
  height: auto;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */