@import '../../assets/global_style.scss';

.catalog-cards{
    margin-top: 55px;
    .info-container{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .product-manegement{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px;
        
        a{
            margin: 2rem;
            padding: 2rem;
        }
        
        
    }
}