@import '../../assets/global_style.scss';

.catalog-cards{
    margin-top: 55px;
    .info-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
       

        .info-catalog{
            display: flex;
            flex-direction: column;
            
            .delivery-methods{
                margin-left: 1rem;
            }

            h1{
                margin-bottom: 0;
            }
        }


        .product-manegement{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
         
            
            a{
                margin: 1rem;
              
                width: auto;
            }
            
            
        }

    }
    

    
}

@media(max-width:576px){
    .catalog-cards .info-container{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}