@import '../../assets/global_style.scss';

.catalog-cards{
    margin-top: 55px;
    .info-container{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .product-manegement{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px;
        
        a{
            margin: 1rem;
            padding: 1rem;
            width: auto;
        }
        
        
    }

    
}

@media(max-width:576px){
    .catalog-cards .info-container{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}