@import '../../assets/global_style.scss';


.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container-input{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        border-radius: 7px;
        padding: .8rem;
        box-shadow: 3px 3px #33658a6e;
        form{
           width: 70%;
            
           .form-group{
               display: flex;
               flex-direction: row;
               justify-content: center;
               align-items: center;
               .search-button{
                   width: auto;  
                   margin-left: 1rem;
                   font-size: 1.5rem;
                   cursor: pointer;
               }
           } 
        }
    }

}