$enable-negative-margins: true;

.btn{
    width: 100px;
    height: 40x;
}

.add-product-container{
    
    display: flex;
    //justify-content: center;
    margin-left: auto;
    margin-right: auto;    
    width: 100%;
    max-width: 800px;
    margin-top: 90px;
    .image-product-description-container{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        border: 5xp solid orange;
        .actions-product{
            //margin-left: 1.5rem;
            //margin-right:1.5rem;            
        }

    }

    .image-product-container{
        .image-container{
            height: 300px;
            width: 300px;
            margin-left: auto;
            margin-right: auto;

           .image-preview{
                height: 300px;
                width: 300px;
                object-fit:cover; 
                
           }
           .image-button{     
         
                .align-button{
                    display: none; 
                 
                }

            }
        }


    }

    .image-product-buttons-container
    {
 
        .btn{
            margin-right: 10px;
        }
    } 
    
}

.max-width-message{
    max-width: 300px;
}

.hidde-Button-Image
{
    display:none;
}

.boton-imagen{
    margin-right: 10px !important;
    width: 100% !important;
} 


@media(min-width:768 px){  //967
   

.add-product-container{

        .image-product-buttons-container
        {
            display: flex;
            justify-content: right;
            .btn{
                margin-right: 10px;
            }
        } 
        

    }


    
}

 