$enable-negative-margins: true;

.btn{
    width: 100px;
    height: 40x;
}

.add-product-container{

    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;    
    width: 100%;
    max-width: 900px;
    border-radius: 5px 5px;
    //margin-top: 60px;
    margin-top: 6rem;
    .image-product-description-container{
        max-width: 800px;

        width: 100%;
        border: 5xp solid orange;
        //height: 70vh;
        .actions-product{
            margin-left: 1.5rem;
            margin-right:1.5rem;
        }

    }

    .image-product-container{
        .image-container{
            height: 250px;
            width: 250px;
            margin-left: auto;
            margin-right: auto;

           .image-preview{
                height: 250px;
                width: 250px;
                object-fit:cover; 
                
           }
           .image-button{                
                .align-button{
                    background: blue;
                    color: red;
                    display: none;                    
                    //display: flex;
                    //justify-content: right !important;
                }
            }
        }


    }

}

.max-width-message{
    max-width: 300px;
}

.hidde-Button-Image
{
    display:none;
}

