$enable-negative-margins: true;

.btn{
    width: 100px;
    height: 40x;
}

.add-product-container{

    display: flex;
    //justify-content: center;
    margin-left: auto;
    margin-right: auto;    
    width: 100%;
    max-width: 900px;
    margin-top: 1rem;
    .image-product-description-container{

        width: 100%;
        border: 5xp solid orange;
        .actions-product{
            margin-left: 1.5rem;
            margin-right:1.5rem;
        }

    }

    .image-product-container{
        .image-container{
            height: 350px;
            width: 350px;
            margin-left: auto;
            margin-right: auto;

           .image-preview{
                height: 350px;
                width: 350px;
                object-fit:cover; 
                
           }
           .image-button{                
                .align-button{
                    display: none;                    
                }
            }
        }


    }

    .image-product-buttons-container
    {
 
        .btn{
            margin-right: 10px;
        }
    } 
    

}

.max-width-message{
    max-width: 300px;
}

.hidde-Button-Image
{
    display:none;
}


@media(min-width:768 px){  //967
   

.add-product-container{

        .image-product-buttons-container
        {
            display: flex;
            justify-content: right;
            .btn{
                margin-right: 10px;
            }
        } 
        

    }
    
}