@import "../../assets/global_style.scss";

.container-input{
    display: flex;
    background-color: $light-gray;
    justify-content: center;

}

.input-buscar{
    max-width: 50%;
    margin: 1rem;
    position: relative;

    &:hover {
        background-color: white;
        border: 1px solid #95a5a6;
        box-shadow: none;
    }

    &:focus {
        background-color: white;
        border: 2px solid $primary;
        box-shadow: none;
    }
    
}

.search-button{
    color: $primary;
    font-size: 1.4rem;

    position: absolute;
    left: 72%;
    top: 9.4rem


}

