@import "../../assets/global_style.scss";



.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: $primary;
    border-radius: 5px;
            
}

.form-control{

    width: 50%;
    margin-right: 1rem;
    
}

.search-button{
    color: white;
    font-size: 1.3rem;

    &:hover{
        color: $secondary;
    }
}


