@import '../../assets/global_style.scss';

.order-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin-bottom: 1rem;
    // width: 80vw;

    .order-detail{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: black;

        .order-client-div{
            display: flex; 
            justify-content: space-evenly;
            align-items: center;
            padding: .3rem;

            .order{
                padding: .3rem;
            }
    
            .client{
                padding: 1rem;
            }
        }

        .price-pending-div{
            display: flex;
            padding: .3rem;
            align-items: center;
        
            .price{
                padding: .3rem; 
                margin-right: 1rem;
            }
            
            .pending{
                padding: .3rem;
                color: white;
                border-radius: 7px;
               // margin-right: .5rem;
                height: auto;
            }
            

        }     
    }


}

@media(max-width:576px){
    .order-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: ridge 2px;
    border-radius: 7px;
    padding: 0px;
    margin-bottom: 1rem;
    width: 90vw;
    }
}
