@import '../../assets/global_style.scss';

body{
    background-color: $light-gray;
}
.my-orders{
    margin-top: 70px;
    
    .container-orders{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
}